html{
    width: 100%;
}
h1 {
  font-family: sans-serif;
  font-size: 16px;
  margin-bottom: 48px;
  margin-left: 3px;
  color: rgb(0, 84, 84);
}
* {
  font-family: sans-serif;
}

p {
  margin-bottom: 8px;
  color: rgb(4, 63, 0);
}
input[type="text"] {
  width: 300px;
  border: 2px solid rgb(191, 203, 216);
}
input[type="submit"] {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 20px;
}
td {
   border: 1px solid black;
}
.nom{
    width: 30px;
}
.fio{
    width: 300px;
}
.phone{
    width: 150px;
}
.mail{
    width: 150px;
}
table {
  text-align: center;
}
input.error, textarea.error {
  border: 2px solid red;
}
tr:nth-child(2n) {
    background: #027EF7; /* Цвет фона */
    color: white;
   
    
    
   } 